$black: #323232;
$white: #ffffff;
$header-height: 263px;
$navbar-height: 80px;
$hero-height: 183px;
$gallery-color: #fafafa;
/* -------------------------------- */
$tablet-hero-height: 400px;
$tablet-header-height: 480px;
/* -------------------------------- */
$desktop-hero-height: 670px;
$desktop-header-height: 750px;
