@mixin mobile-subheaders {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir";
  font-weight: semi-bold;
}
@mixin mobile-header {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir";
  font-weight: bold;
}
@mixin mobile-paragraph {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir";
  font-weight: normal;
}
@mixin mobile-paragraph--comments {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir";
  font-weight: bolder;
}
@mixin mobile-list-contact {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir";
  font-weight: bold;
}
@mixin mobile-label {
  font-size: 12px;
  line-height: 20px;
}
@mixin gallery-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 10.125rem;
  margin: 1.5rem 0 1rem 0;
}
/* ---------------------- mixins for tablet below -------------------*/

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin tablet-hero-header {
  font-size: 60px;
  line-height: 68px;
  font-family: "avenir";
  font-weight: bolder;
}
@mixin tablet-header {
  font-size: 36px;
  line-height: 44px;
  font-family: "avenir";
  font-weight: bolder;
}
@mixin tablet-second-header {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir";
  font-weight: bolder;
}
@mixin tablet-sub-header {
  font-size: 16px;
  line-height: 24px;
  font-family: "avenir";
  font-weight: bolder;
}
@mixin tablet-paragraph {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir";
  font-weight: normal;
}
@mixin tablet-paragraph--comments {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir";
  font-weight: bolder;
}
@mixin tablet-list {
  font-size: 14px;
  line-height: 20px;
  font-family: "avenir";
  font-weight: bold;
}
@mixin tablet-labels {
  font-size: 12px;
  line-height: 20px;
}
@mixin tablet-gallery__img-size {
  width: 14rem;
  height: 7.875rem;
  margin-left: 1.5rem;
  margin-right: 0;
}
/* ---------------------- mixins for desktop -------------------*/
@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}
@mixin desktop-gallery__img-size {
  width: 21.5rem;
  height: 12.06rem;
  margin: 0 1rem 1rem 0;
}
